@page "/CriarConta"
@using System.Net.Http
@using BlazorValidation.Data
@inject HttpClient Http

<div class="container text-center">
    <div class="col-md-12">
        <h2>Cadastre-se agora mesmo</h2>
        <EditForm Model="@pessoaFisica" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset" class="text-left"
            OnInvalidSubmit="@HandleInvalidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <div class="alert @StatusClass">@StatusMessage</div>
            <hr />
            <h4>Informações Pessoais</h4>
            <div class="row">
                <div class="form-group col-12">
                    <Label>Nome Completo</Label>
                    <InputText @bind-Value="pessoaFisica.Nome" class="form-control" />
                    <ValidationMessage For="@(() => pessoaFisica.Nome)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <Label>CPF</Label>
                    <InputText @bind-Value="pessoaFisica.CPF" class="form-control input-cpf" />
                    <ValidationMessage For="@(() => pessoaFisica.CPF)" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <Label>RG</Label>
                    <InputText @bind-Value="pessoaFisica.RG" class="form-control input-rg" />
                    <ValidationMessage For="@(() => pessoaFisica.RG)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <Label>Data Nascimento</Label>
                    <InputDate @bind-Value="pessoaFisica.DataNascimento" class="form-control" />
                    <ValidationMessage For="@(() => pessoaFisica.DataNascimento)" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <Label>Estado civil</Label>
                    <InputSelect @bind-Value="pessoaFisica.EstadoCivil" class="form-control">
                        <option value=""> Selecione </option>
                        <option value="Solteiro"> Solteiro </option>
                        <option value="Relaciomento Sério"> Relaciomento Sério </option>
                        <option value="Casado"> Casado </option>
                        <option value="Separado"> Separado </option>
                        <option value="Divorciado"> Divorciado </option>
                        <option value="Viúvo"> Viúvo </option>
                    </InputSelect>
                    <ValidationMessage For="@(() => pessoaFisica.EstadoCivil)" />
                </div>
            </div>

            <hr />
            <h4>Endereço</h4>

            <div class="row align-items-end">
                <div class="form-group col-md-4 col-12 my-0">
                    <Label>CEP</Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.CEP" id="cep" class="form-control input-cep"
                        placeholder="CEP" />
                </div>
                <div class="form-group col-md-4 my-0" onclick="buscaCEP()">
                    <a class="btn btn-primary text-center icone-cep">
                        Buscar CEP <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="mx-0">
                <ValidationMessage For="@(() =>  pessoaFisica.Pessoa.CEP)" />
                <br>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <Label> Logradouro </Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.Endereco" class="form-control" id="endereco"
                        placeholder="Endereço" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Endereco)" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <Label> Número </Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.Numero" class="form-control" id="numero"
                        placeholder="Número" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Numero)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <Label>Bairro</Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.Bairro" class="form-control" id="bairro"
                        placeholder="Bairro" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Bairro)" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <Label>Cidade</Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.Cidade" class="form-control" id="cidade"
                        placeholder="Cidade" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Cidade)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <Label>Complemento</Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.Complemento" class="form-control" id="complemento"
                        placeholder="Complemento" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Complemento)" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <Label>UF (Estado)</Label>
                    <InputSelect @bind-Value="pessoaFisica.Pessoa.Uf" class="form-control" id="UF">
                        <option value=""> Selecione </option>
                        <option value="AC"> Acre </option>
                        <option value="AL"> Alagoas </option>
                        <option value="AP"> Amapá </option>
                        <option value="AM"> Amazonas </option>
                        <option value="BA"> Bahia </option>
                        <option value="CE"> Ceará </option>
                        <option value="ES"> Espírito Santo </option>
                        <option value="DF"> Distrito Federal </option>
                        <option value="GO"> Goiás </option>
                        <option value="MA"> Maranhão </option>
                        <option value="MT"> Mato Grosso </option>
                        <option value="MS"> Mato Grosso do Sul </option>
                        <option value="MG"> Minas Gerais </option>
                        <option value="PA"> Pará </option>
                        <option value="PB"> Paraíba </option>
                        <option value="PR"> Paraná </option>
                        <option value="PE"> Pernambuco </option>
                        <option value="PI"> Piauí </option>
                        <option value="RJ"> Rio de Janeiro </option>
                        <option value="RN"> Rio Grande do Norte </option>
                        <option value="RS"> Rio Grande do Sul </option>
                        <option value="RO"> Rondônia </option>
                        <option value="RR"> Roraima </option>
                        <option value="SC"> Santa Catarina </option>
                        <option value="SP"> São Paulo </option>
                        <option value="SE"> Sergipe </option>
                        <option value="TO"> Tocantins </option>
                    </InputSelect>
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Uf)" />
                </div>
            </div>
            <hr />
            <h4>Dados de adicionais</h4>
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <Label for="Renda">Renda</Label>
                    <InputNumber @bind-Value="pessoaFisica.Pessoa.Renda" class="form-control input-valor" id="Renda"
                        placeholder="Renda" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Renda)" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <Label for="celular">Celular</Label>
                    <InputText @bind-Value="pessoaFisica.Pessoa.Telefone" class="form-control input-celular"
                        id="celular" placeholder="Celular" />
                    <ValidationMessage For="@(() => pessoaFisica.Pessoa.Telefone)" />
                </div>
            </div>
            <hr />
            <h4>Dados de acesso</h4>
            <div class="form-group">
                <Label>Email</Label>
                <InputText @bind-Value="pessoaFisica.Pessoa.Email" class="form-control" placeholder="Email" />
                <ValidationMessage For="@(() => pessoaFisica.Pessoa.Email)" />
            </div>
            <div class="row">
                <div class="row form-group col-md-6 col-12 p-0 m-0 align-items-end">
                    <div class="form-group col-12">
                        <Label>Login</Label>
                        <InputText @bind-Value="pessoaFisica.Pessoa.Login" class="form-control" id="login"
                            placeholder="Login" />
                        <ValidationMessage For="@(() => pessoaFisica.Pessoa.Login)" />
                    </div>
                </div>
                <div class="row form-group col-md-6 col-12 p-0 m-0 align-items-end">
                    <div class="form-group col-md-7 col-12">
                        <Label>Senha</Label>
                        <InputText @bind-Value="pessoaFisica.Pessoa.Senha" class="form-control senha" id="senha"
                            placeholder="Senha" />
                    </div>
                    <div class="form-group col-md-5 col-12">
                        <a class="btn btn-primary verSenha">
                            <span class="senha">Ver senha</span>
                        </a>
                    </div>
                    <div class="row mx-1">
                        <ValidationMessage For="@(() => pessoaFisica.Pessoa.Senha)" />
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary" href="javascript:history.back()">Voltar</a>
                @* <button type="submit" class="btn btn-success">Fazer o cadastro</button> *@
                <button class="btn btn-success" type="submit">Fazer o cadastro</button>
            </div>
            <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
        </EditForm>
        <br>
    </div>
</div>

@code {
    private EditContext editContext { get; set; }

    PessoaFisica pessoaFisica = new PessoaFisica();

    protected override void OnInitialized()
    {
        editContext = new EditContext(pessoaFisica);
    }

    private async Task HandleValidSubmit()
    {

        StatusClass = "alert-info";
        StatusMessage = DateTime.Now + " Handle valid submit";


        Console.WriteLine("OnValidSubmit");

        Console.WriteLine(pessoaFisica);

        //Enviar dados para o Controller no Backend
        await Http.PostAsJsonAsync("/Register2/Create", pessoaFisica);
    }

    private string StatusMessage;
    private string StatusClass;

    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        StatusMessage = DateTime.Now + " Handle invalid submit";
    }

    private void HandleReset()
    {
        PessoaFisica pessoaFisica = new PessoaFisica();
        editContext = new EditContext(pessoaFisica);
    }
}